.login-container {
  width: 350px;
  height: fit-content;
  border: 1px solid #cdcbcb;
  margin: auto;
  align-content: center;
  /* display: flex; */
  box-shadow: 0px 0px 8px 2px #e5e4e4;
  padding: 20px;
}

.login-singup-button-holder {
  display: flex;
  height: fit-content;
  width: -webkit-fill-available;
}

.google-btn {
  width: 52.5%;
  height: 8%;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-bottom: 10px;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
google-btn:active {
  background: #1669f2;
}

.fb-login-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.g-signin-btn,
.f-signin-btn {
  margin: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-signin {
  padding: 10px;
  /* text-align: center; */
}

.login-label {
  color: #606060;
  padding-top: 20px;
  height: 10px;
  display: inline-flex;
  align-content: center;
}

.login-input {
  margin: 20px 0px;
  width: -webkit-fill-available;
  height: 45px;
  font-size: 16px;
  background-color: #f2f2f2;
  border: none;
  color: #585858;
  padding-left: 11px;
  letter-spacing: 1px;
}

.login-input:focus-visible,
.login-input:focus,
.login-input:focus-within {
  border: 1px solid #6f07070a;
  outline: none;
  box-shadow: 0px 0px 5px 1px #a4a1a1f7;
  background-color: #fff;
}

.loading-holder {
  display: flex;
  align-items: center;
  background-color: #0000001f;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  justify-content: center;
}

.my-loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
}

input.otp-input[type="text"] {
  background: linear-gradient(to left, #cfcfd0de 2px, white 0);
  border: 3px solid #cfcfd0de;
  border-left: 2.4px solid #cfcfd0de;
  background-size: 50px 1px;
  width: 215px;
  font: inherit;
  letter-spacing: 41px;
  text-indent: 9px;
  color: black;
}

.phone-number-otp-screen {
  /* font-size: 12px; */
  font-weight: bold;
  color: #000000a6;
  text-decoration: underline;
}

.otp-holder-inner {
  left: 0;
  position: sticky;
}

.otp-holder-outer {
  width: 202px;
  overflow: hidden;
  margin: auto;
}

.g-signin-btn-holder {
  margin: 10px 0px 25px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
